# Node
node_modules/
frontend/.nuxt/
frontend/.output/
frontend/.pnpm-store

# Python
__pycache__/
*.pyc
backend/.venv/

# Env
.env
.env.*

# Docker
*.pid
db_data/

# Postgres
*.log
*.pid
pgdata/
db/

# VSCode
.vscode/ 